<div class="header">
    <%= render template: "templates/_profile_icon" %>
    <div class="inner-header" style="margin-top: 0px !important; margin-bottom: 100px;">
        <h1>Наши врачи лучшие в своём деле!</h1>

        <table class="doctors-table">
            <tr>
                <th>Специализация</th>
                <th>Фио</th>
                <th></th>
            </tr>
            <% @doctors.each do |doctor| %>
                <tr>
                    <td>
                        <%= doctor.category.name %>
                    </td>
                    <td>
                        <%= doctor.name %>
                    </td>
                    <td>
                        <% if Appointment.where(doctor_id: doctor.id, active: true).count < 10 %>
                          <%= link_to "Записаться на приём", new_appointment_url(doctor_id: doctor.id), class: "table-link" %>   
                        <% else %>
                          Доктор сейчас занят
                        <% end %>  
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
    <%= render template: "templates/_waves" %>
</div>