<div class="form-div">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), ) do |f| %>
    <div class="container">
        <div class="item-container">
            <h2 class="log-in">Вход</h2>
        </div>
        <% if doctor_path? %>
          <div class="item-container" style="margin-bottom: 20px;">
            <label class="label">В учётную запись специалиста</label>
          </div>
        <% end %>
            <div class="form-input">
                <label for="email" class="label">Email or Phone number</label>
                <%= f.email_field :login, autofocus: true, autocomplete: "email", type: "text" %>
            </div>
            <div class="form-input">
                <label for="password" class="label">Пароль</label>
                <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
            <div class="display-space-between">
                <div>
                    <%= f.check_box :remember_me %>
                    <label for="password" class="chekbox-label">Запомнить вас?</label>
                </div>
                <div>
                    <a href="#">Забыли пароль?</a>
                </div>
            </div>
            <% if !doctor_path? %>
            <div class="display-space-between">
              <div>
                <a href="/doctors/sign_in">Я доктор</a>
              </div>
              <div>
                <a href="/users/sign_up">Регистрация</a>
              </div>
            </div>
            <% end %>
            <div>
                <%= f.submit "Войти", type: "submit", class: "submit-button" %>
            </div>
            <div>
              <% flash.each do |name, msg| %>
                <% if msg.class == Array %>
                  <% msg.each do |message| %>
                <%= content_tag :div, message, :id => "flash_#{name}" %>
                <% end %>
                <% else %>
                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                <% end %>
              <% end %>
            </div>
    </div>
<% end %>
</div>

<script>
 document.querySelectorAll('form').forEach(function (el) {
    el.dataset.turbo = false
  })
</script>