<div class="header">
    <%= render template: "templates/_profile_icon" %>
    <div class="inner-header" style="margin-top: 0px !important; margin-bottom: 100px;">
        <h1>Консультация №<%= @appointment.id %></h1>
        <p class="appointment-form-label">Консультация была назначена на: <%= @appointment.desired_time %></p>
        <p class="appointment-form-label">Доктор: <%= @appointment.doctor.category.name %> <%= @appointment.doctor.name %></p>
        <div class="large-text-div">
            <p class="appointment-form-label">Жалоба: <%= @appointment.complaint %></p>
            <% if @appointment.active %>
              <p class="appointment-form-label">Как только доктор рассмотит вашу жалобу, вы получите его заключение.</p>
            <% else %>
              <p class="appointment-form-label">Заключение специалиста: <%= @appointment.recomendation %></p>
            <% end %>
        </div>
    </div>
    <%= render template: "templates/_waves" %>
</div>